<div class="general-ff">
  <div class="d-flex flex-row mb-3 justify-content-center">
    <div class="p-2"><img cImg fluid src="../assets/img/minimarket_logo.png" width="50px"></div>
    <div class="p-2 main-header">MINIMARKET WORKSHOP</div>
  </div>
  <div class="doc-header-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link fc-white cur-pointer" [ngClass]="selectedTab === 'PRODUCTS' ? 'active' : ''"
          (click)="selectTab('PRODUCTS')">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fc-white cur-pointer" [ngClass]="selectedTab === 'PURCHASE_HISTORY' ? 'active' : ''"
          (click)="selectTab('PURCHASE_HISTORY')">Purchase History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fc-white cur-pointer" [ngClass]="selectedTab === 'CART' ? 'active' : ''"
          (click)="selectTab('CART')">
          <i class="bi bi-basket">
          </i>
          <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger fs-10">
            {{cartProductsQuantity}}
            <span class="visually-hidden">products in cart</span>
          </span>
        </a>
      </li>
    </ul>
  </div>

  <app-products-list *ngIf="selectedTab === 'PRODUCTS'"
    (onCartProductAdded)="onCartProductAdded($event)">
  </app-products-list>
  
  <app-purchase-history *ngIf="selectedTab === 'PURCHASE_HISTORY'"></app-purchase-history>
  
  <app-cart *ngIf="selectedTab === 'CART'" (onCartProductRemoved)="onCartProductRemoved($event)"
    (onCartCleared)="onCartCleared()">
  </app-cart>
</div>